@import '../variables';
@import '../placeholders';

.hide {
  display: none;
}

.btn-note {
  width: 146px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  @extend %btn-style;
}

.button-bloc p {
  width: 80%;
  color: var(--secondary-color);
  font-weight: 600;
  font-size: var($ft-small);
}

.round-container {
  width: 20%;
  height: 77%;
  background-color: var(--third-color);
  border-radius: 50%;
  position: relative;
  margin-right: 5px;
  box-shadow: 1px 2px 3px 0px rgba(39, 52, 106, 0.801);
}

.plus-sign::before,
.plus-sign::after, .minus-sign::before {
  content: "";
  position: absolute;
  background-color: #fff;
}

.plus-sign::before, .minus-sign::before {
  width: 12px;
  height: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plus-sign::after {
  width: 3px;
  height: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plus-sign {
  transform: translate(-50%, -50%);
}

.plus-sign, .minus-sign {
  position: absolute;
  top: 50%;
  left: 51%;
  color: #fff;
  font-size: 24px;
  display: inline-block;
}
