@import "../variables";
@import "../mixins";
@import "../placeholders";

footer {
  background-color: $third-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer-copyright {
  color: white;
  font-size: $ft-small;
  width: 80%;
  margin-bottom: 20px;
  text-align: center;
}
