@import '../mixins';
@import '../variables';


.header {
  background-color: var(--primary-color);
  grid-column: 1/11;
  grid-row: 1/4;
  @include flexbox($direction: column, $justify: flex-start, $align: center);
}

.collapse-bloc {
  display: block;
  width: 90%;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  @include flexbox($align: baseline)
}

.collapse-element {
  width: 100%;
  @include flexbox($direction: column, $justify: center, $align: flex-start, $wrap: wrap);
}

.arrow-bloc {
  padding-top: 10px;
  align-self: flex-end;
  margin-right: 20px;
}

.link-bloc {
  margin-top: 5px;
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-bottom: 10px;
}

// .link-bloc ul {
//   display: flex;
//   flex-direction: column;
// }

.hide {
  display: none;
}

.toggle-open, .toggle-close {
  cursor: pointer;
  margin-right: 30px;
  width: 19px;
  height: 19px;
}

.toggle-close {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.toggle-open {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

@include from(sm) {

  .header {
    grid-column: 1/11;
  }
}

@include from(md) {

  h1 {
    display: block;
    width: 220px;
    height: 65px;
  }

  .header {
    flex-direction: row;
    flex-wrap: no wrap;
    justify-content: space-around;
  }

  .collapse-bloc {
    align-items: center;
    width: auto;
    margin-right: unset;
    margin-left: unset;
  }
}

@include from(lg) {
  .header {
    grid-column: 1/11;
  }
}
