@import "../variables";
@import "../mixins";
@import "../placeholders";


.note-form-section {
  width: 90%;
  margin: unset;
  @extend %begin-flex-column ;
  @extend %flex-center-template;
}

.button-bloc {
  width: 90%;
  height: 40px;
  display: flex;
  align-self: end;
  justify-content: end;
  align-items: center;
}

@include from(lg) {
  .note-form-section {
    width: 70%;
  }

  .button-bloc {
    align-self: unset;
  }
}
