@import "../variables";
@import "../mixins";
@import "../placeholders";

.postIt-section {
  width: 300px;
  @include flexbox($direction: column, $justify: space-evenly);
  margin: auto;
}

.postIt-section h2 {
  flex-basis: 90%;
}

@include from(md) {
  .postIt-section {
    max-width: 800px;
  }
}

@include from(lg) {
  .postIt-section {
    @include flexbox($direction: row, $justify: space-evenly, $wrap: wrap);
    width: 80%;
    margin: auto;
    min-height: max-content;
    height: 70%;
    max-height: 1300px;
  }
}
