@import "./variables";
@import "./mixins";
@import "./placeholders";

*:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.15;
}

body,
#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 110vh;
}

img,
input,
textarea {
  border-style: none;
}

label p {
  margin-bottom: 12px;
  font-size: $ft-small;
}

input,
textarea {
  box-shadow: 1px 5px 3px -2px rgba(0, 0, 0, 0.208);
}

body {
  background-color: $secondary-color;
}

h1,
h2,
a {
  text-decoration: none;
  font-family: $title-font;
  color: $title-color;
}

h1 {
  font-size: $title-small-size;
  font-weight: 500;
}

li {
  list-style: none;
}

h2 {
  font-size: $section-title-small;
  min-height: 5rem;
  height: 6vh;
  align-self: center;
}

p,
label,
a {
  font-family: "Ubuntu";
}

p,
label {
  font-size: $ft-small;
}

label,
textarea {
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
}

.main-content {
  width: 90vw;
  max-width: 1000px;
  margin: auto;
  flex: 1;
  overflow: hidden;
}

section {
  margin: 5rem auto;
}

@include from(md) {
  h2 {
    font-size: $ft-medium;
    flex-basis: 90%;
  }
}

@include from(lg) {
  h2 {
    font-size: $ft-large;
  }
}
