@import "./variables";
@import "./mixins";
@import "./placeholders";

*:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.15;
}

body,
#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

img {
  border-style: none;
}

body {
  background-color: $secondary-color;
}

h1,
h2,
a {
  text-decoration: none;
  font-family: $title-font;
  color: $title-color;
}

h1 {
  font-size: $title-small-size;
  font-weight: 500;
}

li {
  list-style: none;
}

h2 {
  font-size: $section-title-small;
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: center;
}

p,
label,
a {
  font-family: "Ubuntu";
}

p {
  font-size: $ft-small;
}

.main-content {
  width: 90vw;
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  height: auto;
  max-height: 150vh;
  overflow: hidden;
}

section {
  width: 80%;
  margin: auto;
  height: 100vh;
}
