$primary-color: #ffb1ac;
$secondary-color: #f4e4e3;
$third-color: #afbfff;
$title-color: #423b3b;
$font-color: #23340d;
$element-color: #415bd3;

$title-font: "jetBrains Mono", monospace;

$ft-xs: 1.2rem;
$ft-small: 1.6rem;
$ft-medium: 1.8rem;
$ft-large: 2rem;

$title-small-size: 3rem;
$title-medium-size: 3.5rem;
$title-big-size: 3.8rem;

$section-title-small: 2rem;
$section-title-medium: 2.5rem;
$section-title-big: 2.8rem;

$max-sm: 575px;
$max-md: 991px;
$max-lg: false;

$breakpoints: (
  sm: $max-sm,
  md: $max-md,
  lg: $max-lg,
);
