$primary-color: #ffb1ac;
$secondary-color: #f4e4e3;
$third-color: #afbfff;
$title-color: #423b3b;
$font-color: #23340d;
$element-color: #415bd3;

$title-font: "jetBrains Mono", monospace;

$ft-small: 12px;
$ft-medium: 14px;
$ft-large: 16px;

$max-xs: 426px;
$max-sm: 767px;
$max-md: 1024px;
$max-lg: 1240px;
$max-xl: false;

$breakpoints: (
  xs: $max-xs,
  sm: $max-sm,
  md: $max-md,
  lg: $max-lg,
  xl: $max-xl,
);
